/* :root {
  --Color1: #1e2029;
  --Color2: #252733;
  --Color3: #6e7187;
  --Color4: #ffffff;
  --Color5: #f0f0f0;
  --Color6: rgba(30, 32, 41, 0.9);
  --Color7: rgba(255, 255, 255, 0.2);
  --Color8: #2e303e;
  --Color9: #363949;
  --Color10: #7f8296;
  --Color11: #252732;
} */

/* body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */